html, body {
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

* {
  overscroll-behavior-x: none;
  box-sizing: border-box;
}

body.dark {
  color-scheme: dark;
}

img {
  transition: transform .25s ease;
}
img:hover {
  transform: translateY(-4px);
}

@media (max-width: 500px) {
  .hero-text {
    text-align: center;
  }
}
