html, body {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body.dark {
  color-scheme: dark;
}

img {
  transition: transform .25s ease;
}
img:hover {
  transform: translateY(-4px);
}

@media (max-width: 500px) {
  .hero-text {
    text-align: center;
  }
}
